<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="ApprovalLogMapper">
	<typeAlias alias="ApprovalLogClass" type="com.aspire.sims.qm.workflow.domain.ApprovalLog" />
	<resultMap id="ApprovalLogMapper_BaseResultMap" class="ApprovalLogClass">
		<!-- WARNING - @mbg.generated -->
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="flow_key" jdbcType="VARCHAR" property="flowKey" />
		<result column="business_id" jdbcType="VARCHAR" property="businessId" />
		<result column="opinion" jdbcType="VARCHAR" property="opinion" />
		<result column="approval_result" jdbcType="VARCHAR" property="approvalResult" />
		<result column="file_group_id" jdbcType="VARCHAR" property="fileGroupId" />
		<result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
		<result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<insert id="insert" parameterClass="ApprovalLogClass">
		INSERT INTO qm_approval_log
		(id, flow_key, business_id, opinion,
		approval_result, file_group_id, create_user_id, create_user_name, create_time)
		VALUES(#id#, #flowKey#, #businessId#,
		#opinion#, #approvalResult#, #fileGroupId#, #createUserId#, #createUserName#, #createTime#)
	</insert>

	<select id="listByBusinessId" resultMap="ApprovalLogMapper.ApprovalLogMapper_BaseResultMap" parameterClass="String">
		SELECT id,
		flow_key, business_id, opinion, approval_result, file_group_id, create_user_id, create_user_name, create_time
		FROM
		qm_approval_log
		where business_id=#businessId#
		order by create_time desc
	</select>
	
	<select id="getById" resultMap="ApprovalLogMapper.ApprovalLogMapper_BaseResultMap" parameterClass="String">
        SELECT id,
        flow_key, business_id, opinion, approval_result, file_group_id, create_user_id, create_user_name, create_time
        FROM
        qm_approval_log
        where id=#id#
    </select>
	
</sqlMap>